<div [hidden]="hideRooms">
    <p>Rooms Available: </p>
    <p [innerText]="rooms.availableRooms"></p>
</div>

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
<hbm-header></hbm-header>
<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
    <hbm-rooms-list [room]="roomsList" [title]="title" (selectedRoom)="selectRoom($event)"></hbm-rooms-list>
</div>

<button (click)="toggle()">Toggle</button><!--Event Binding-->
