.paymentPage {
    box-shadow: 0 0 3px #000;
    width:520px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.payment-method {
    width: 500px;
}

.pay {
    background-color: rgb(241, 241, 241);
    padding: 3px 10px;
    margin: 5px;
    box-shadow: 0 0 1px #000;
    border-radius: 5px;
}

.pay-button {
    background-color: #FF671F;
    color: #fff;
}

.price-particulars {
    display: flex;
    justify-content: space-between;
}

.pay:hover {
    background-color: rgba(203, 205, 206, 0.966);
    cursor: pointer;
}

.payment-panel {
    background-color: #fff;
    border-radius: 5px;
}

.saffron-focus:focus {
    border-color: #FF671F !important;
    box-shadow: 0 0 0 0.035rem #f57a40;
}
